# Development dependencies
# Install with: pip install -r requirements-dev.txt

# Model training
pandas

# Code formatting and linting
black
isort
flake8
pylint

# Type checking
mypy

# Testing
pytest
pytest-cov
